@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /*font-family*/
    --font-inter: "Inter", sans-serif;

    /*dark blue*/
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;

    /*light blue*/
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;

    /*Gray*/
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
}

* {
    margin: 0;
    padding: 0;
}

header {
    margin: 2%;
}

body {
    background-color: var(--light-blue-100);
}
main {
    margin: 0.6% 8%;

    display: flex;
    justify-content: space-between;
}

/* .main__input {
    display: flex;
    width: 80%;
    height: 40%;
    
    flex-direction: column;
    gap: 30%;
} */

.main__input__text {
    resize: none;

    /* Nuestro elemento es transparente, no tiene borde, ni linea que se marque cuando se hace click */
    background-color: transparent;
    border: none;
    outline: none;

    font-size: 2rem;
    color: var(--dark-blue-300);

}
.main__input__text::placeholder {
    color: var(--dark-blue-300);
    font-family: var(--font-inter);
    font-size: 2rem;
}


.main__input__botones {
    /* display: flex;
    justify-content: center; */

    width: 40%;
    /* gap: 1%; */

    padding: 2% 0.5%;

    position: fixed;
    bottom: 8.3%;

    margin-top: 22%;
}
.main__input__botones__encriptar {
    background-color: var(--dark-blue-300);
    color: white;
    font-family: var(--font-inter);

    width: 25%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    border-radius: 24px;

    cursor: pointer;

    position: fixed;
    left: 11%;
}

.main__input__botones__desencriptar {
    background-color: var(--light-blue-100);
    color: var(--dark-blue-300);
    border: 1px solid var(--dark-blue-500);
    font-family: var(--font-inter);
    
    width: 25%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    border-radius: 24px;

    position: fixed;
    left: 40%;
}

.main__output {
    background-color: white;
    border-radius: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5%;

    justify-content: center;
    padding: 2%;

    /*Ponemos una posicion fija a nuestro output para no tener problema con el layout*/
    width: 25%;
    height: 83%;
    position: fixed;
    top: 0;
    right: 0;
    margin: 2%;
}

.main__output__image {
    width: 80%;
}

.main__output__titulo {
    font-family: var(--font-inter);
}

.main__output__texto {
    font-family: var(--font-inter);
}

.main__output__copiar {
    display: none;
    background-color: var(--light-blue-100);
    color: var(--dark-blue-300);
    border: 1px solid var(--dark-blue-500);
    font-family: var(--font-inter);
    
    width: 25.6%;
    padding: 2%;

    
    position: fixed;
    bottom: 3.5%;
    left: 68.79%;
    margin: 2%;
   

    border-radius: 24px;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    cursor: pointer;
}

@media (max-width: 400px) {
    * {
        max-width: 100%;
    }
    main {
        margin-top: 12%;
        flex-direction: column;
    }

    .main__input__botones {
        position: static;
        display: flex;
        /* justify-content: center;  */
        width: 100%;
        flex-direction: column;
        
    }

    .main__input__botones__encriptar {
        position: static;
        width: 100%;
        margin-bottom: 6%;
    }

    .main__input__botones__desencriptar {
        position: static;
        width: 100%;
        margin-bottom: 8%;
    }

    .main__output {
        position: static;

        display: flex;

        justify-content: center;
        align-items: center;

        width: 95%;
        /*margin-left: 3%;*/
    }

    .main__output__image {
        display: none;
    }

    .main__output__titulo {
        color: var(--gray-500);
        margin: 10%;
        margin-bottom: 3%;
    }

    .main__output__texto {
        color: var(--gray-400);
        margin: 10%;
    }

    .main__output__copiar { 
        position: static;
        width: 90%;
        margin-left: 4.7%;
    }
}